body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    height: 92.5vh;
    box-sizing: border-box;
}


.bucket {
    width: 400px;
}

h1 {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

form {
    display: grid;
    grid-template-columns: 28% 72%;
    gap: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: inherit;
}

.form {
    display: none;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-sizing: inherit;
}

label {
    text-align: right;
    padding: 4px
}

fieldset {
    display: flex;
    width: fit-content;
    grid-column: 2/3;
    box-sizing: inherit;

}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 8px;
    width: fit-content;
    height: 2rem;
    color: white;
    background-color: black;
    box-sizing: inherit;

}

.submit {
    grid-column: 2/3;
}

button:hover {
    opacity: .7;
}

.dtb {
    align-self: center;
    margin: 2px;
}

.field-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    box-sizing: inherit;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    box-sizing: inherit;

}

.container {
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    width: 100%;
    height: 100%;
    align-items: center;
}

footer {
    text-align: center;
}